
networks:
  # Wichtig: bei ersten Start Netzwerk erstellen: docker network create extern
  extern:
    external: true

services:
  nginx:
    image: nginxproxy/nginx-proxy # : 1.7 :1.5
    container_name: nginx-app
    networks:
      - extern
    ports:
      - 80:80
      - 443:443/tcp
      # - 443:443/udp # später nötig für HTTP3 -- Protokoll aktuell noch im Teststadium
    volumes:
      - ${PAHT_NGINX:-./data/nginx}/certs:/etc/nginx/certs:ro
      - ${PAHT_NGINX:-./data/nginx}/conf:/etc/nginx/conf.d
      - ${PAHT_NGINX:-./data/nginx}/vhosts:/etc/nginx/vhost.d
      - ${PAHT_NGINX:-./data/nginx}/html:/usr/share/nginx/html
      - ${PAHT_NGINX:-./data/nginx}/dhparam:/etc/nginx/dhparam
      - ${PAHT_NGINX:-./data/nginx}/logs:/var/log/nginx
      - ./nginx_global_parm/my_global_conf.conf:/etc/nginx/conf.d/my_global_conf.conf:ro
      - /var/run/docker.sock:/tmp/docker.sock:ro
    environment:
      - ENABLE_HTTP2=false
      # - ENABLE_HTTP3=true # später nötig für HTTP3 -- Protokoll aktuell noch im Teststadium
    logging:
      driver: "local"
      options:
        max-size: "50m"      # maximale Größe einer Logdatei
        max-file: "5"        # Anzahl der rotierenden Dateien
    labels:
      - com.centurylinklabs.watchtower.enable=true
    restart: unless-stopped

  certs:
    image: nginxproxy/acme-companion
    container_name: nginx-letsencrypt
    depends_on:
      - nginx
    networks:
      - extern
    volumes:
      - ${PAHT_NGINX:-./data/nginx}/certs:/etc/nginx/certs:rw
      - ${PAHT_NGINX:-./data/nginx}/vhosts:/etc/nginx/vhost.d
      - ${PAHT_NGINX:-./data/nginx}/html:/usr/share/nginx/html
      - ${PATH_SSL:-./data/acme}:/etc/acme.sh
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      - DEFAULT_EMAIL=${MAIL_SSL:-me@example.com}
      - NGINX_PROXY_CONTAINER=nginx-app
    labels:
      - com.centurylinklabs.watchtower.enable=false
    restart: always # unless-stopped

  portainer:
    image: portainer/portainer-ce:latest #portainer-ce:latest
    container_name: portainer_app
    depends_on:
      - nginx
      - certs
      - portainer_agent
    networks:
      - extern
      - portainer
    expose:
      - "9000"
    ports:
      - 9000:9000 # Notfallzugriff über IP:9000
    volumes:
      - ${PAHT_PORTAINER:-./data/portainer}:/data
    environment:
      - LOG_LEVEL=debug
      - VIRTUAL_HOST=${NGINX_URL_PORTAINER:?Variable is not set or empty}
      - VIRTUAL_NETWORK=${NGINX_NETWORK:?Variable is not set or empty} # extern
      - VIRTUAL_PORT=${NGINX_PORT_PORTAINER:?Variable is not set or empty} # 9000
      - LETSENCRYPT_HOST=${NGINX_URL_PORTAINER:?Variable is not set or empty}
    labels:
      - com.centurylinklabs.watchtower.enable=true
    restart: unless-stopped

  portainer_agent:
    image: portainer/agent:latest # 2.21.0
    container_name: portainer_agent
    networks:
      - portainer
    expose:
      - "9001"  # nur für interne Netzwerke, NICHT nach außen
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    labels:
      - com.centurylinklabs.watchtower.enable=true
    restart: unless-stopped

  watchtower:
    image: nickfedor/watchtower # containrrr/watchtower
    container_name: watchtower
    networks:
      - extern
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /etc/timezone:/etc/timezone:ro
    #command: portainer plex seafile #Positivliste - nur dies Container werden aktualisiert
    environment:
      #- WATCHTOWER_SCHEDULE=0 0 0 * * *
      - WATCHTOWER_POLL_INTERVAL=3600
      - WATCHTOWER_CLEANUP=true
      - WATCHTOWER_LABEL_ENABLE=true
      - WATCHTOWER_NOTIFICATION_SPLIT_BY_CONTAINER=true
    restart: unless-stopped

  adguard:
    #Hinweis
    #bei ersten Start http://192.168.178.30:3000 aufrufen und 
    #Netzwerkschnittstell für Admin-Weboberfläche auf alle Port 90 stellen
    image: adguard/adguardhome
    container_name: adguard
    depends_on:
      - nginx
      - certs
    network_mode: "host"
    volumes:
      - ${PAHT_ADGUARD:-./data/adguard}/work:/opt/adguardhome/work
      - ${PAHT_ADGUARD:-./data/adguard}/conf:/opt/adguardhome/conf
    environment:
      - VIRTUAL_HOST=${NGINX_URL_ADGUARD:?Variable is not set or empty}
      - VIRTUAL_NETWORK=${NGINX_NETWORK:?Variable is not set or empty}
      - VIRTUAL_PORT=${NGINX_PORT_ADGUARD:?Variable is not set or empty}
      - LETSENCRYPT_HOST=${NGINX_URL_ADGUARD:?Variable is not set or empty}
      - TZ="Berlin/Europe"
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    restart: always

  healthcheck:
    image: louislam/uptime-kuma
    container_name: healthcheck
    depends_on:
      - nginx
      - certs
    networks:
      - extern
    expose:
      - 3001
    environment:
      - VIRTUAL_PORT=${NGINX_PORT_HEALTH:?Variable is not set or empty}
      - VIRTUAL_HOST=${NGINX_URL_HEALTH:?Variable is not set or empty}
      - LETSENCRYPT_HOST=${NGINX_URL_HEALTH:?Variable is not set or empty}
    volumes:
      - ./data/healthcheck:/app/data
      - /var/run/docker.sock:/tmp/docker.sock:ro
    labels:
      com.centurylinklabs.watchtower.enable: true
    restart: unless-stopped
